#altasib_discounts_menu_icon {background-image:url(icons/altasib.discounts/mnu.gif);}
#altasib_discounts_page_icon {background-image:url(icons/altasib.discounts/title.gif);}

/*Menu icon BX12*/
.altasib_discounts_menu_icon {background:url('icons/altasib.discounts/mnu.gif?v2') 9px 5px no-repeat !important;}