.edit-password{
	width: 300px;
}
.edit-password__back{
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
}

.form__submit {
    float: right;
    padding: 0 20px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background: #00B967;
}

.form__submit:hover {
	  background: #FB1A19;
}