/*
div.subscription { margin: 0 0 2em;}
div.subscription-title-inner { font-weight: bold; padding: 8px 12px 10px 12px; overflow: hidden; zoom: 1;}

div.subscription-form { padding: 17px 11px 0; border: 1px solid; border-top:none; margin: 0 0 1.5em;}
table.subscription-layout { width: 100%; }
table.subscription-layout td { vertical-align: top; padding: 0 0 20px;}
table.subscription-layout td.field-name { width: 70px; text-align: right; padding-right: 7px;}
table.subscription-layout td.field-form {  }
input.subscription-email { width: 150px;}
input.subscription-textbox { width: 230px;}
div.subscription-format { white-space:nowrap; float: right; margin-right:1em;}
div.subscription-rubric { padding: 0 0 1em; overflow: hidden;}
div.subscription-rubric input { float: left; margin-right: -23px;}
div.subscription-rubric label { margin-left: 23px; display: block; padding-top: 2px;}
div.subscription-rubric span { display:block; margin-top: 0.25em; font-size: 0.85em; }
div.subscription-notes { margin: 1em 0 1.5em;}
div.subscription-utility p { font-size: 0.85em;}
div.subscription-buttons { margin-top: 1em;}

div.subscription-title b, div.subscription-title-inner {background-color:#E6E6E6;}
div.subscription-title .r2, div.subscription-title .r0 {border-color:#FAFAFA;}
div.subscription-form { border-color: #E5E5E5;}
div.subscription-rubric span, div.subscription-format span, div.subscription-utility p { color: #787878; }



div.subscribe-edit .red {
	color:red;
}
div.subscribe-edit .green {
	color:green;
}
div.subscribe-edit .errorcolor {
	color:red;
}
div.subscribe-edit .successcolor {
	color:green;
}
*/


.subscription {
	padding: 30px 20px;
    border: 1px solid #d9d9d9;
    width: 1160px;
}

.rubrics {
    /*float: left;*/
    width: 100%;
    margin-bottom: 30px;
}

.checkbox_input {
    display: none;
}

.rubrics label {
    display: block;
    padding-left: 25px;
    font-size: 16px;
    float: left;
    height: 16px;
    margin-right: 100px;
    margin-bottom: 5px;
    background: url(checkbox.png) no-repeat;
    cursor: pointer;
}

.rubrics input:checked + label {
    background-position: 0 -16px;
}

.subscription .form__text {
	width: 340px;
	float: left;
	margin-right: 20px;
}

.subscription  .form__submit {
    /* float: left; */
    padding: 0 20px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background: #00B967;
    width: 280px;
}

.subscription .form__submit:hover{
    background: #E80000;
}

.subscription-utility {
    clear: both;
}

.subscription-textbox {
    padding: 10px;
    line-height: 16px;
    width: 330px;
    float: left;
}

.subscription-buttons {
    margin-bottom: 20px;
}

.subscription-notes {
    margin-bottom: 15px;
}