.profile{
	margin-bottom: 30px;
	padding: 30px 20px;
	border: 1px solid #d9d9d9;
	overflow: hidden;
}
.profile__table{
	float: left;
	margin: 0 2%;
	width: 46%;
}
.profile__table td{
	padding: 15px;
}
.profile__separator{
	position: absolute;
	top: 8%;
	left: 50%;
	height: 84%;
	border-left: 1px dotted #6b6b6b;
}

.profile-links__link{
	margin: 0 10px;
	text-decoration: none;
	color: #e5111b;
	border-bottom: 2px dotted #e5111b;
}

.profile-links__link:hover{
	margin: 0 10px;
	text-decoration: none;
	color: #15C174;
	border-bottom: 2px dotted #15C174;
}